# Python
backend/venv/
venv/
__pycache__/
*.pyc

# Environment Variables
.env
backend/.env

# Database
*.db

# Uploads
backend/uploads/

# ML Cache
*.pkl.bak

# Next.js
frontend/node_modules/
frontend/.next/
.next/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db